.home{
    margin-top: 20px;
    height: auto;
}
.homeSlide h1{
    font-size: 45px;
}
.homeSlide p{
    margin: 20px 0;
}
.homeSlide .box{
    display: flex !important;
}
.homeSlide .box .left{
    width: 90%;
}
.homeSlide .box .right img{
    width: 85%;
}
.homeSlide .box img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

